.wrapper {}

.page {
  &_our-work {
    padding-bottom: 22px;
  }
}

.page-top {
  
  // .page-top__container

  &__container {}

  // .page-top__breadcrumbs

  &__breadcrumbs {
    margin-top: 15px;
    margin-bottom: 20px;
    border-top: 1px solid #DADDE0;
    padding-top: 15px;
    font-size: 1.2rem;
  }
  // .page-top__body
  &__body {
    max-width: 810px;
    margin: auto;
    text-align: center;
  }
  // .page-top__body-header
  &__body-header {
    padding-bottom: 20px;
    @media (min-width:$tablet){
      padding-bottom: 29px;
    }
    
  }

  // .page-top__title

  &__title {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  // .page-top__text
  &__text {
  }

  // .page-top__menu

  &__menu {
    border-top: 1px solid #DADDE0;
    border-bottom: 1px solid #DADDE0;
  }
}

.breadcrumbs {

  // .breadcrumbs__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  // .breadcrumbs__item
  &__item {
    &:not(:last-child) {
      &::after {
        content: '|';

      }
    }
  }

  // .breadcrumbs__link

  &__link {}

  // .breadcrumbs__current

  &__current {
    text-decoration: underline;
    color: var(--accent-color);
  }
}

.menu-page-top {

  // .menu-page-top__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5px;
    column-gap: 15px;
    padding: 13px 0;
  }

  // .menu-page-top__item

  &__item {}

  // .menu-page-top__link

  &__link {
    padding: 10px;
    display: inline-block;
    &_active {
      background-color: #EBEBEB;
		  border-radius: 5px;
			color: var(--accent-color);
    }
  }
}